
<div style="font-size: 24px; box-shadow: 0px 1px 0px #393939; border-bottom: 1px solid #4E4E4E; margin-bottom: 10px; padding-bottom: 5px; margin-top: 20px;">
    <%= locals[:header_title] %>
</div>


<% if locals[:current_content] == "lastevents" %>
    <%= erb :lastevents, :locals => locals %>
<% end %>
<% if locals[:current_content] == "indiceslist" %>
    <%= erb :indiceslist, :locals => locals %>
<% end %>
<% if locals[:current_content] == "archivedlist" %>
    <%= erb :archivedlist, :locals => locals %>
<% end %>
<% if locals[:current_content] == "admin" %>
    <%= erb :admin, :locals => locals %>
<% end %>
<% if locals[:current_content] == "adminedit" %>
    <%= erb :adminedit, :locals => locals %>
<% end %>
<% if locals[:current_content] == "grocker" %>
    <%= erb locals[:grocker_template], :locals => locals %>
<% end %>