<!DOCTYPE html>
<html lang="en">
<head>
  <title>Logmind Dashboard</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="<%= locals[:pathtobase] %>common/css/bootstrap.min.css" />
  <link rel="stylesheet" href="<%= locals[:pathtobase] %>common/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="<%= locals[:pathtobase] %>common/css/fullcalendar.css" />
  <link rel="stylesheet" href="<%= locals[:pathtobase] %>common/css/unicorn.main.css" />
  <link rel="stylesheet" href="<%= locals[:pathtobase] %>common/css/unicorn.grey.css" class="skin-color" />


  <script src="<%= locals[:pathtobase] %>common/lib/excanvas.min.js"></script>
  <script src="<%= locals[:pathtobase] %>common/lib/dateformat.js"></script>
  <script src="<%= locals[:pathtobase] %>common/lib/jquery-1.8.0.min.js"></script>
  <script src="<%= locals[:pathtobase] %>common/lib/jquery.ui.custom.js"></script>
  <script src="<%= locals[:pathtobase] %>common/lib/modernizr-2.6.1.min.js"></script>
  <script src="<%= locals[:pathtobase] %>common/lib/underscore.min.js"></script>
  <script src="<%= locals[:pathtobase] %>common/lib/angular.min.js"></script>
  <script src="<%= locals[:pathtobase] %>common/lib/angular-strap.min.js"></script>
  <script src="<%= locals[:pathtobase] %>common/lib/angular-sanitize.min.js"></script>
  <script src="<%= locals[:pathtobase] %>common/lib/elastic.min.js"></script>
  <script src="<%= locals[:pathtobase] %>common/lib/logmind-requests.js"></script>
  <script src="<%= locals[:pathtobase] %>common/lib/elastic-angular-client.js"></script>
  <script src="<%= locals[:pathtobase] %>common/lib/moment.js"></script>
  <script src="<%= locals[:pathtobase] %>common/lib/shared.js"></script>
  <script src="<%= locals[:pathtobase] %>common/lib/filesaver.js"></script>
  <script src="<%= locals[:pathtobase] %>common/lib/bootstrap.min.js"></script>
  <script src="<%= locals[:pathtobase] %>common/lib/fullcalendar.min.js"></script>
  <script src="<%= locals[:pathtobase] %>common/lib/datepicker.js"></script>
  <script src="<%= locals[:pathtobase] %>common/lib/timepicker.js"></script>
  <script src="<%= locals[:pathtobase] %>common/lib/unicorn.js"></script>
  <script src="<%= locals[:pathtobase] %>common/lib/unicorn.dashboard.js"></script>

  <!-- project dependency libs -->
  <script src="common/lib/LAB.min.js"></script>
  <!--script src="common/lib/underscore.min.js"></script-->
  <script src="common/lib/settings.js"></script>
  <script src="config.js"></script>
  <script src="dashjs/app.js"></script>
</head>
<body>


<div id="header" data-spy="affix" data-offset-top="77">
  <h1><a href="/">Logmind Dashboard</a></h1>

  <span style="display: none;" class="dashtitle" ng-include="'panels/dashcontrol/module.html'">
  </span>

  <span style="position: absolute; right: 10px; top: 50px; font-size: 8px; color: #999;">Version 7.2.6</span>

  <div id="user-nav" class="navbar navbar-inverse" ng-include="'panels/dynamictopmenu/module.html'">
  </div>
</div>

<div id="sidebar" ng-include="'panels/dynamicmenu/module.html'"></div>

<div id="content" style="position: absolute; left: 0px; top: 78px; bottom: 0px; right: 0px; background-color: #eeeeee;">
  <div class="container-fluid">
    <div class=row-fluid>
    <!-- begin content -->
    <% if locals[:internal_content] %>
          <%= erb :internalcontent, :locals => locals %>
    <% end %>